<h3>Create a new Announcement</h3>

<%= form_for @announcement do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %> <br/>

	<%= f.label :body %>
	<%= f.text_area :body %> <br/>
	
	<%= f.submit "Send" %>
<% end %>