<h2>Details of Client:<%= @client.name %></h2>
<table>
	<thead>
		<tr>
			<th>SL NO</th>
			<th>Name</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		<% @projects.each_with_index do |project,index|%>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= project.name %></td>
				<td><%= project.description %></td>
				<td><%= project.start_date %></td>
				<td><%= project.status %></td>
			</tr>
		<% end %>
	</tbody>
</table>