<h2>All Clients</h2>
<p>Total clients : <%= @clients.size %>
<%= link_to "Export to excel", clients_export_path(format: "xls")%></p> <br/>


<%= link_to "Add Client", new_client_path %>
<!-- new_client_path will return a string "/clients/new" -->


<ol>
	<% @clients.each do |client|%>
		<li><%= client.name %> - <%= link_to "Show", client_path(client.id) %> - <%= link_to "Edit", edit_client_path(client.id) %></li>
	<% end %>
</ol>

<% data = {} %>
<% @clients.each do |client| %>
	<% data[client.name] = client.projects.size %>
<% end %>

<%= bar_chart(data) %>
