<div class="row">
  <div class="col-md-8 text-center" >
          <div class="jumbotron jumbotron-login" >
            <span><%= image_tag('taskbox-brand.png', class: "img-responsive") %></span>
            <p>Task Management Simplified</p>
            <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Register for free</a></p>

          </div>
  </div>

  <div class="col-md-4" >
      <div class="col-md-7">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in",class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>

      <div class="col-md-5 well well-sm" style="margin-top:75px">
      <p>For Guests:</p>
       <small>email: <br> <b>guest@gmail.com</b></small> <br> <br>
      <small>password: <br> <b>guest123</b></small>
      </div>
  </div>
</div>
