<% restaurant = JSON.parse('
{
  "R": {
    "res_id": 56619
  },
  "apikey": "05cfa2869fb323822dc286fbaf0408ef",
  "id": "56619",
  "name": "Brewsky",
  "url": "https://www.zomato.com/bangalore/brewsky-jp-nagar?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
  "location": {
    "address": "55, 5th Floor, Goenka Chambers, 19th Main Road, Jeewan Griha Colony, Phase 2, JP Nagar, Bangalore",
    "locality": "JP Nagar",
    "city": "Bangalore",
    "city_id": 4,
    "latitude": "12.9066019952",
    "longitude": "77.5894574448",
    "zipcode": "",
    "country_id": 1
  },
  "cuisines": "Continental, American",
  "average_cost_for_two": 1600,
  "price_range": 3,
  "currency": "Rs.",
  "offers": [],
  "thumb": "https://b.zmtcdn.com/data/pictures/9/56619/ad75028d56b5cb6dc792c554e37b854c_featured_v2.jpg",
  "user_rating": {
    "aggregate_rating": "3.9",
    "rating_text": "Good",
    "rating_color": "9ACD32",
    "votes": "2662"
  },
  "photos_url": "https://www.zomato.com/bangalore/brewsky-jp-nagar/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop",
  "menu_url": "https://www.zomato.com/bangalore/brewsky-jp-nagar/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop",
  "featured_image": "https://b.zmtcdn.com/data/pictures/9/56619/ad75028d56b5cb6dc792c554e37b854c_featured_v2.jpg",
  "has_online_delivery": 1,
  "is_delivering_now": 0,
  "deeplink": "zomato://restaurant/56619",
  "has_table_booking": 1,
  "book_url": "https://www.zomato.com/bangalore/brewsky-jp-nagar/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
  "events_url": "https://www.zomato.com/bangalore/brewsky-jp-nagar/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1"
}
    ')
%>

<% reviews = JSON.parse('{
  "reviews_count": 1215,
  "reviews_start": 0,
  "reviews_shown": 5,
  "user_reviews": [
    {
      "review": {
        "rating": 3.5,
        "review_text": "A normal Sunday out with not much expectations and we ended up n Brewsky.. Gud ambience and decent staffs... But much crowded n the weekend... If you want to enjoy a peace ambience!! Well its better not to go on weekends... Must try - drunken Chicken... 😊😇",
        "id": "28729507",
        "rating_color": "9ACD32",
        "review_time_friendly": "3 hours ago",
        "rating_text": "Good Enough",
        "timestamp": 1479204138,
        "likes": 1,
        "user": {
          "name": "Karan Bala",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 4,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/karan-bala-3225205?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/d87/6db9e5e3b637f624b4155d1f6a8c3d87.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/3225205"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4,
        "review_text": "Was there with few friends, considering I visited Big Brewsky so many times I always wanted to check out the Brewsky and its a great place too. One of those nicest rooftop places in Bangalore, love the paintings on the wall and fresh beer too .. a bit slow service but its understandable as this place seems always packed",
        "id": "28727804",
        "rating_color": "5BA829",
        "review_time_friendly": "9 hours ago",
        "rating_text": "Great!",
        "timestamp": 1479184954,
        "likes": 2,
        "user": {
          "name": "Avi Avinash",
          "foodie_level": "Super Foodie",
          "foodie_level_num": 10,
          "foodie_color": "f58552",
          "profile_url": "https://www.zomato.com/users/avi-avinash-869966?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/e05/c393faeae44e4bcdd5431e1e6104be05.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/869966"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4,
        "review_text": "Brewsky is a happening spot for weekend nights. With a screening of your favourite sports and a glass of freshly brewed beer, this place gives you the perfect Saturday vibe. Even though they have ample space, with the crowd pouring in, I would recommend a booking if you go there on a weekend. Secondly, their service is poor as they probably are not able to manage the crowd. Food and drinks were good. All in all, brewsky is a good hangout spot with friends.",
        "id": "28727353",
        "rating_color": "5BA829",
        "review_time_friendly": "11 hours ago",
        "rating_text": "Great!",
        "timestamp": 1479175590,
        "likes": 3,
        "user": {
          "name": "Ruchi Pathak",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 5,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/ruchi-pathak-34782708?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/ba0/41e42932efc95f91d95267948e605ba0.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/34782708"
        },
        "comments_count": 1
      }
    },
    {
      "review": {
        "rating": 2.5,
        "review_text": "Been to this place couple of times.good place to hangout with friends and family.they serve very good their own beer . Everything about this place is good except food. Everytime i disappointed with the quantity and taste. Food menus is good but dont get fooled taste sucks. You can go for a drink not to eat",
        "id": "28716086",
        "rating_color": "FFBA00",
        "review_time_friendly": "yesterday",
        "rating_text": "Well...",
        "timestamp": 1479046400,
        "likes": 0,
        "user": {
          "name": "Sandesh",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 4,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/sandesh-15568949?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/e40/d882f78b574236ddc14e0e3e909ece40.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/15568949"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 3,
        "review_text": "Add gone to Brew sky last Saturday , had bought a nearby coupon . Service is very slow . it was a 3 course meal . starter was coming after main course ...Disappointed with the service as it was very slow and dishes were coming very late .",
        "id": "28705616",
        "rating_color": "CDD614",
        "review_time_friendly": "3 days ago",
        "rating_text": "Average",
        "timestamp": 1478949902,
        "likes": 0,
        "user": {
          "name": "Loy Lobo",
          "foodie_level": "Foodie",
          "foodie_level_num": 2,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/loy-lobo-29221379?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/images/user_avatars/wine_2x.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/29221379"
        },
        "comments_count": 0
      }
    }
  ],
  "Respond to reviews via Zomato Dashboard": "https://www.zomato.com/business/claim?ref=rpg&resid=56619#claim"
}
')  %>

<br>
<h2>ZOMATO</h2>
<%= image_tag(restaurant["thumb"]) %> <br>
<h2><%= restaurant["name"] %></h2>
<p>(<%= restaurant["location"]["locality"] %>)</p>

<h3><%= link_to "Visit", restaurant["url"] %> || <%= link_to "Photos", restaurant["photos_url"] %> || <%= link_to "Menu", restaurant["menu_url"] %> || <%= link_to "Book", restaurant["book_url"] %> || <%= link_to "Events", restaurant["events_url"] %></h3>

<table border="1" width=50%>
	<tr>
		<th>Overview</th> 
		<th>Address</th>
		<th>Reviews</th>
	</tr>
	<tr>
		<td>
			<b>Cuisines : </b> 
			<% restaurant["cuisines"].split(" ").each do |cuisine| %>
				<%= cuisine %> <br>
			<% end %> <br>
			<b>Cost for two : </b>
			<%= restaurant["average_cost_for_two"] %>
		</td>
		<td>
			<% restaurant["location"]["address"].split(",").each do |address| %>
				<%= address %>, <br>
			<% end %>
		</td>
		<td><b>Rating : </b> 
			<%= restaurant["user_rating"]["aggregate_rating"] %> <br> <br>
			<b>Feedback : </b>
			<%= restaurant["user_rating"]["rating_text"] %> <br> <br>
			<b>Number of votes : </b>
			<%= restaurant["user_rating"]["votes"] %>
		</td>
	</tr>
</table>


<h3>Reviews</h3>
<h4>Total Reviews : <%= reviews["reviews_count"] %></h4>
<table border="1">
  <tr>
    <th></th>
    <th>User</th>
    <th>Review</th>
  </tr>
  <% reviews["user_reviews"].each do |review| %>
    <tr>
      <td><%= image_tag(review["review"]["user"]["profile_image"]) %></td>
      <td><%= review["review"]["user"]["name"] %></td>
      <td>Rated : <%= review["review"]["rating"] %> (written <%= review["review"]["review_time_friendly"] %>) <br> <%= review["review"]["review_text"] %></td>
    </tr>
  <% end %>
</table>