<!DOCTYPE html>
<html>
<head>
  <title>Taskbox</title>

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',  'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>




	<!-- DataTables jQuery-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />


	<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% if user_signed_in? %>
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/"> <%= image_tag('taskbox-logo.png', width: "95px", class: "img-responsive") %> </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
							<li><a href="/clients">Clients <span class="badge"><%= current_user.clients.size %></span></a>
							</li>

							<li>
								<%= link_to projects_path do%>
									Projects <span class="badge"><%= current_user.projects.size %></span>
								<%end%>
							</li>

			      </ul>


			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			          	<li><%= link_to "My Profile", profiles_path %></li>
			           	<li><%= link_to "Account Setting", edit_user_registration_path %> </li>
			           	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %>  </li>
			          </ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

		<% else %>
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/"><%= image_tag('taskbox-logo.png', width: "95px", class: "img-responsive") %></a>
			    </div>


			      <ul class="nav navbar-nav navbar-right">

			        <li><%= link_to "Login", new_user_session_path %></li>

			           	<li><%= link_to "Register", new_user_registration_path %></li>
			          </ul>
			        </li>
			      </ul>

			  </div><!-- /.container-fluid -->
			</nav>
		<% end %>


		<% if alert %>
			<div class="alert alert-danger">
				<%= alert %>
			</div>
		<%end%>

		<% if notice %>
			<div class="alert alert-success">
				<%= notice %>
			</div>
		<%end%>

		<%= yield %>

	</div>
</body>
</html>
